site_name: Ankur's Notes

theme:
  name: material
  palette:
    - scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Dark mode

    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Light mode

  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy

extra:
  generator: false

markdown_extensions:
  - admonition
  - pymdownx.details

extra_css:
  - stylesheets/notion.css
